/* Space out content a bit */
.clear
  clear both

html 
  height 100%

body
  maring 0px
  padding 0px
  font-size 1em

header
  width: 100%;
  height: 50px;
  background: #333;
  background: rgba(47,47,47,0.98);
  z-index: 9997;

  .header-inner
    position: relative;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 12px;

.ajax
  padding: 10px 12px;
  font-size: 1.7em;
  font-weight: normal;
  text-align: left;
  color: #fff;
  border-top: 1px solid #85aed3;
  border-bottom: 1px solid #ccc;
  background: #618fb9 url(../images/alert-lines-42ea894801ee58583160c8cc15622958.png) repeat-x top left;
  display none;

#wrap
  background: #f0f0f0 url(../iamges/noise-f1-99be850299aaf3f1e91225fa7a97228c.gif) repeat -70% 0;

  #wrap-inner
    padding: 20px 12px 30px 12px;

    #content
      position: relative;
      max-width: 970px;
      margin: 0 auto;
      padding: 0;
      font-size: 1.2em;

      #main
        font-size: 1.2em;

      .main-full
        float: none;
        width: auto;
        max-width: 970px;
        position relative

        .alert-news
          width: auto;
          margin-top: -20px;
          padding: 20px;
          text-align: center;
          background: rgba(0,0,0,0.05);
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          border-radius: 6px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          display none;

        ol
          list-style: none;
          position: relative;
          padding: 0;
          margin: 0;

          li
            width: 22.680412371134%;
            margin: 1.092784%;
            position: relative;
            float: left;
            padding: 0; 

            .singleCursos
              position: relative;
              clear: left;
              background: #fff;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
              -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
              -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
              box-shadow: 0 1px 2px rgba(0,0,0,0.07);
              padding: 10px;

              a
                display block;

                img
                  max-width: 100%;
                  max-height: 150px;

              :hover
                opacity: 0.9

                

          h2.autor
            font-size: 0.9em;
            padding: 0
            margin: 10px 0 0 0;

            a
              color: #4083a9;
              outline: none;
              text-decoration: none;

              img
                float: left;
                width: 16px;
                max-height: 16px;
                margin: 0 4px 0 0;
                vertical-align: middle;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
              




/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
