<div class="alert-news"></div>
            <ol>
              <li>
                <div class="singleCursos">
                  <a href="#">
                    <img src="https://d13yacurqjgara.cloudfront.net/users/31664/screenshots/1723262/tree-3_teaser.gif"/>
                  </a>                 
                </div>
                 <h2 class="autor"><a href="#"><img src="https://d13yacurqjgara.cloudfront.net/users/4859/avatars/mini/logo_dribbble_2014-3.png?1403278011"/><span> Fabian Medina</span></a></h2>
              </li>

              <li>
                <div class="singleCursos">
                  <a href="#">
                    <img src="https://d13yacurqjgara.cloudfront.net/users/31664/screenshots/1723262/tree-3_teaser.gif"/>
                  </a>                 
                </div>
                 <h2 class="autor"><a href="#"><img src="https://d13yacurqjgara.cloudfront.net/users/4859/avatars/mini/logo_dribbble_2014-3.png?1403278011"/><span> Fabian Medina</span></a></h2>
              </li>

              <li>
                <div class="singleCursos">
                  <a href="#">
                    <img src="https://d13yacurqjgara.cloudfront.net/users/31664/screenshots/1723262/tree-3_teaser.gif"/>
                  </a>                 
                </div>
                 <h2 class="autor"><a href="#"><img src="https://d13yacurqjgara.cloudfront.net/users/4859/avatars/mini/logo_dribbble_2014-3.png?1403278011"/><span> Fabian Medina</span></a></h2>
              </li>

              <li>
                <div class="singleCursos">
                  <a href="#">
                    <img src="https://d13yacurqjgara.cloudfront.net/users/31664/screenshots/1723262/tree-3_teaser.gif"/>
                  </a>                 
                </div>
                 <h2 class="autor"><a href="#"><img src="https://d13yacurqjgara.cloudfront.net/users/4859/avatars/mini/logo_dribbble_2014-3.png?1403278011"/><span> Fabian Medina</span></a></h2>
              </li>

              <li>
                <div class="singleCursos">
                  <a href="#">
                    <img src="https://d13yacurqjgara.cloudfront.net/users/31664/screenshots/1723262/tree-3_teaser.gif"/>
                  </a>                 
                </div>
                 <h2 class="autor"><a href="#"><img src="https://d13yacurqjgara.cloudfront.net/users/4859/avatars/mini/logo_dribbble_2014-3.png?1403278011"/><span> Fabian Medina</span></a></h2>
              </li>

              <li>
                <div class="singleCursos">
                  <a href="#">
                    <img src="https://d13yacurqjgara.cloudfront.net/users/31664/screenshots/1723262/tree-3_teaser.gif"/>
                  </a>                 
                </div>
                 <h2 class="autor"><a href="#"><img src="https://d13yacurqjgara.cloudfront.net/users/4859/avatars/mini/logo_dribbble_2014-3.png?1403278011"/><span> Fabian Medina</span></a></h2>
              </li>

              <li>
                <div class="singleCursos">
                  <a href="#">
                    <img src="https://d13yacurqjgara.cloudfront.net/users/31664/screenshots/1723262/tree-3_teaser.gif"/>
                  </a>                 
                </div>
                 <h2 class="autor"><a href="#"><img src="https://d13yacurqjgara.cloudfront.net/users/4859/avatars/mini/logo_dribbble_2014-3.png?1403278011"/><span> Fabian Medina</span></a></h2>
              </li>

              <li>
                <div class="singleCursos">
                  <a href="#">
                    <img src="https://d13yacurqjgara.cloudfront.net/users/31664/screenshots/1723262/tree-3_teaser.gif"/>
                  </a>                 
                </div>
                 <h2 class="autor"><a href="#"><img src="https://d13yacurqjgara.cloudfront.net/users/4859/avatars/mini/logo_dribbble_2014-3.png?1403278011"/><span> Fabian Medina</span></a></h2>
              </li>

              <li>
                <div class="singleCursos">
                  <a href="#">
                    <img src="https://d13yacurqjgara.cloudfront.net/users/31664/screenshots/1723262/tree-3_teaser.gif"/>
                  </a>                 
                </div>
                 <h2 class="autor"><a href="#"><img src="https://d13yacurqjgara.cloudfront.net/users/4859/avatars/mini/logo_dribbble_2014-3.png?1403278011"/><span> Fabian Medina</span></a></h2>
              </li>

              <li>
                <div class="singleCursos">
                  <a href="#">
                    <img src="https://d13yacurqjgara.cloudfront.net/users/31664/screenshots/1723262/tree-3_teaser.gif"/>
                  </a>                 
                </div>
                 <h2 class="autor"><a href="#"><img src="https://d13yacurqjgara.cloudfront.net/users/4859/avatars/mini/logo_dribbble_2014-3.png?1403278011"/><span> Fabian Medina</span></a></h2>
              </li>

              <div class="clear"></div>
            </ol>